__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
pythonProject/.venv/

build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
/angels_and_demons_game/__pycache__
*.pyc
angels_and_demons_game/__pycache__/config.cpython-312.pyc
angels_and_demons_game/__pycache__/constants.cpython-312.pyc
angels_and_demons_game/mechanics/__pycache__/effects.cpython-312.pyc
angels_and_demons_game/mechanics/__pycache__/logic.cpython-312.pyc
angels_and_demons_game/mechanics/__pycache__/randomizer.cpython-312.pyc
angels_and_demons_game/models/__pycache__/__init__.cpython-312.pyc
angels_and_demons_game/models/__pycache__/custom_effects.cpython-312.pyc
angels_and_demons_game/models/__pycache__/custom_modes.cpython-312.pyc
angels_and_demons_game/models/__pycache__/game_state.cpython-312.pyc
angels_and_demons_game/models/__pycache__/history.cpython-312.pyc
angels_and_demons_game/models/__pycache__/player.cpython-312.pyc
angels_and_demons_game/models/__pycache__/progression.cpython-312.pyc
angels_and_demons_game/models/__pycache__/settings.cpython-312.pyc
angels_and_demons_game/models/__pycache__/turn_modes.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/__init__.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/audio.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/brand_assets.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/custom_mode_setup.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/custom_setup.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/effect_book_screen.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/game_screen.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/histories_screen.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/menu.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/settings_screen.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/stats_screen.cpython-312.pyc
angels_and_demons_game/ui/__pycache__/theme.cpython-312.pyc
